* {
	margin: 0;
	list-style: none;
}

table {
	width: 100%;
	margin: 50px auto;
	/* border: 1px solid black; */
}

table tr {
	border: 3px solid black;
}

table tr td {
	border: 1px solid black;
}